*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@media only screen and (max-width:800px) and (min-width:360px){

    body{
        background-color:#adc178;
    }
    section{
        background-color:orange;
        border: black solid;
        width: 80%;
        height: 80%;
        
    }

}
